.app-container {
  display: flex;
  min-height: 100vh;
  padding: 1rem;
}

.system-selector-container {
  flex: 1;
  max-width: 30%;
  padding-right: 1rem;
  border-right: 1px solid #ddd;
}

.log-list-container {
  flex: 2;
  max-width: 70%;
  padding-left: 1rem;
}

.no-system-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-system-selected h3 {
  color: #555;
}
